{% extends "base.html" %}



{% block content %}



<div class="container">
  <div class="page-header">
    <div class="jumbotron">
      <div class="text py-5 py-md-0">

        <h1 class="mb-3">Automatische Instanzierung von Moodle, Wordpress oder edu-sharing (inkl. Moodle)</h1>

        <p>Instanzierungen wurden wie folgt getestestet:</p>

        <table>
          <tr>
            <th>Instanz</th>
            <th>OS</th>
          </tr>
          <tr>
            <td>Moodle</td>
            <td>Debian 9.9</td>
          </tr>
          <tr>
            <td>Wordpress</td>
            <td>Ubuntu 18.04</td>
          </tr>
          <tr>
            <td>edu-sharing</td>
            <td>Debian 9.9</td>
          </tr>
        </table>

        <br>

        <a class="btn btn-primary btn-lg btn-block" href="{{url_for('register')}}" role="button">Weiter zur automatischen Instanzierung</a>

      </div>
    </div>
  </div>
</div>

{% endblock %}